# Auto detect text files and perform LF normalization
* text=auto

TMSportPack/Content/TMSportPack/sport/textures/T_WoodLog_BC.uasset filter=lfs diff=lfs merge=lfs -text
Megaplant_Library/Content/Megaplant_Library/Tree_Baltic_Pine/Instances/SKM_Branch_Baltic_Pine_04.uasset filter=lfs diff=lfs merge=lfs -text
Megaplant_Library/Content/Megaplant_Library/Tree_Baltic_Pine/Instances/SKM_Branch_Baltic_Pine_05.uasset filter=lfs diff=lfs merge=lfs -text
Megaplant_Library/Content/Megaplant_Library/Tree_Japanese_Medlar/Textures/T_Japanese_Medlar_01_Bark_NAH.uasset filter=lfs diff=lfs merge=lfs -text
Megaplant_Library/Content/Megaplant_Library/Tree_Yoshino_Cherry/Instances/SKM_Branch_Yoshino_Cherry_01.uasset filter=lfs diff=lfs merge=lfs -text
PlaygroundPack1/Content/PlaygroundPack1/Assets/PlaygroundClimbingWall02/textures/PlaygroundClimbingWall02_HR_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Hillside/Content/Hillside/Geometry/Props_Interior/SM_ThrowBlanketChaiseLounge.uasset filter=lfs diff=lfs merge=lfs -text
Hillside/Content/Hillside/Textures/Concrete/T_ConcreteDetail_4K_Normal.uasset filter=lfs diff=lfs merge=lfs -text
SwimmingPool/Content/SwimmingPool/Maps/Demonstration_AlternatePool_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
SwimmingPool/Content/SwimmingPool/Maps/Demonstration_Master_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Lighting/Lighting/City_Sky_Afternoon.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Lighting/Lighting/Sky/Textures/T_hilly_terrain_01_puresky_8k.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Lighting/Sky/Textures/T_hilly_terrain_01_puresky_8k.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Lighting/T_City_Sky_Afternoon.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_01/T_AsphaltDecal_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_01/T_AsphaltDecal_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_03/T_Painted_Lines_03_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_03/T_Painted_Lines_03_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_04/T_Painted_Lines_04_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_04/T_Painted_Lines_04_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_05/T_Painted_Lines_05_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_05/T_Painted_Lines_05_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_06/T_Painted_Lines_06_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/MT00511-Road_Decals/Decal_06/T_Painted_Lines_06_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/RoadLines/Revision/T_Painted_Lines_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Decals/RoadLines/Revision/T_Painted_Lines_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/Bitumen/T_Bitumen_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/Bitumen/T_Bitumen_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00036-Asphalt/T_MT00036-Asphalt_Basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00036-Asphalt/T_MT00036-Asphalt_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00051-Square_Pavement/T_MT00035-Square_Pavement_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00052-Pavement_01/Fix/T_MT00052-Pavement_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00052-Pavement_01/T_MT00052-Pavement_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00052-Pavement_01/T_MT00052-Pavement_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00083-Tiles/New/T_MT00083-Tiles_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00083-Tiles/New/T_MT00083-Tiles_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00093-Concrete_Rough/fix/T_MT00093-Rough_Concrete_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00203-Granite_Tiles/T_MT00203-Granite_Tiles_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00212-Cobblestone/T_MT00212-Multi-Size_Bricks_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00212-Cobblestone/T_MT00212-Multi-Size_Bricks_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00268-Pavement/T_MT00268_BaseColor_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00298-Asphalt/T_MT00282-Asphalt_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00298-Asphalt/T_MT00282-Asphalt_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00302-Forest_Ground/T_MT00302_albedo_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00302-Forest_Ground/T_MT00302_albedo_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00345-Plaster/T_MT00221-Plaster_Clean_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00346-Concrete_Rough/T_MT00346-Concrete_Rough_BaseColor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00373-Concrete/T_MT00373_Concrete_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00376-Asphalt/T_MT00376-Asphalt_Basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00378-Pavement/T_MT00378-Pavement_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00381-Pavement/T_MT00381-Pavement_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00381-Pavement/T_MT00381-Pavement_normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00385-Pavement/T_MT00385-Pavement_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00386_Wood_Planks/T_Painter_UV_Plane_BaseColor_16BIt.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00386_Wood_Planks/T_Painter_UV_Plane_Normal.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00393-Asphalt/T_MT00393-Asphalt_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00403-Concrete/T_MT00403_albedo_Albedo.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/MT00405-Concrete/T_MT00405_albedo.uasset filter=lfs diff=lfs merge=lfs -text
Modern_City/Content/City/Textures/Tileable/Pavement/T_MT00406-Pavement_basecolor.uasset filter=lfs diff=lfs merge=lfs -text
